@import './colors';
@import './constants';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 86vw;
  height: $header-height;
  margin: 0 auto;

  @media only screen and (max-width: $responsive-threshold) {
    height: $responsive-header-height;
  }

  #logo {
    cursor: pointer;
    width: 180px;
    margin-right: 10px;

    @media only screen and (max-width: $responsive-threshold) {
      display: none;
    }
  }

  .icon {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    font-size: 32px;

    cursor: pointer;
    user-select: none;

    display: none;
    @media only screen and (max-width: $responsive-threshold) {
      display: block;
    }
  }

  #topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    a {
      position: relative;
      cursor: pointer;

      color: $darkerblue;
      font-size: 18px;
      font-weight: 800;

      text-decoration: none;
      &:hover::after,
      &.active::after {
        content: '';

        position: absolute;
        left: 15%;
        bottom: -6px;

        display: block;
        width: 70%;
        height: 6px;
        border-radius: 7px;
        background: $darkblue;
      }

      margin-right: 2.4rem;
      &:last-of-type {
        margin-right: 0;
      }

      &.action {
        padding: 15px 42px;
        background: $darkblue;
        color: $white;
        border-radius: 3px;
        text-align: center;

        &:hover {
          text-decoration: none;
          opacity: 0.7;

          &::after {
            display: none;
          }
        }
      }
    }

    button,
    a {
      @media only screen and (max-width: $responsive-threshold) {
        display: none;
      }
    }

    @media only screen and (max-width: $responsive-threshold) {
      &.responsive-open {
        position: absolute;
        top: 4rem;
        left: 1.5rem;
        padding: 1rem;

        z-index: 100;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        background: $white;
        border-radius: 0.2rem;
        border-radius: 10px;

        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        a {
          display: inline-block;
          color: $darkblue;
          font-style: normal;

          &:hover::after,
          &.active::after {
            bottom: -3px;
          }

          margin-bottom: 0.5rem;
          &:last-of-type {
            margin-bottom: 0;
          }

          &.action {
            color: $white;
            padding: 10px 28px;
          }
        }
      }
    }
  }
}
