@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200..900;1,200..900&display=swap');
#splash {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
}
@media only screen and (max-width: 900px) {
  #splash {
    height: 90vh;
  }
}
#splash #bigbear {
  max-width: 300px;
  height: 50%;
  max-height: 500px;
  margin-top: 2rem;
}
#splash h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}
@media only screen and (max-width: 600px) {
  #splash h2 {
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
  }
}
#splash h1 {
  margin: 0;
  font-size: 5rem;
}
@media only screen and (max-width: 600px) {
  #splash h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 450px) {
  #splash h1 {
    font-size: 2.8rem;
  }
}
#splash #down-indicator {
  color: #307c9c;
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
}

#schedule {
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#schedule #schedule-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
#schedule #schedule-header .spacer {
  flex: 1;
}
#schedule #schedule-header .picker {
  background: #dbf4fc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#schedule #schedule-header .picker > p {
  display: inline-block;
  margin: 0;
  padding: 8px 24px;
  cursor: pointer;
  user-select: none;
  color: #307c9c;
  text-align: center;
}
#schedule #schedule-header .picker > p.selected {
  color: white;
  background: #307c9c;
  border-radius: 10px;
}
#schedule #schedule-header .picker > p.only {
  cursor: not-allowed;
}
#schedule #schedule-header #header-primary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#schedule #schedule-header #header-primary #filter {
  position: relative;
  margin-left: 2rem;
}
#schedule #schedule-header #header-primary #filter #filter-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 6px 16px;
  padding-right: 8px;
  border: 1px solid #307c9c;
  border-radius: 3px;
}
#schedule #schedule-header #header-primary #filter #filter-select p {
  margin: 0;
  margin-right: 1rem;
}
#schedule #schedule-header #header-primary #filter #filter-window {
  position: absolute;
  top: 3rem;
  padding: 1rem;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff;
  border-radius: 0.2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#schedule #schedule-header #header-primary #filter #filter-window p {
  margin-top: 0;
}
#schedule #schedule-header #header-primary #filter #filter-window .picker {
  margin-top: 0.5rem;
}
#schedule #schedule-header #header-primary #filter #filter-window .picker p {
  width: 100%;
}
#schedule #schedule-header #tz-picker {
  margin-left: 1.5rem;
}
@media screen and (max-width: 900px) {
  #schedule #schedule-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  #schedule #schedule-header .picker {
    justify-content: space-evenly;
  }
  #schedule #schedule-header .picker > p {
    flex: 1;
  }
  #schedule #schedule-header #header-primary {
    justify-content: space-between;
  }
  #schedule #schedule-header #header-primary #filter {
    margin-left: 0;
  }
  #schedule #schedule-header #header-primary #filter #filter-window {
    right: 0;
  }
  #schedule #schedule-header #tz-picker {
    margin-left: 0;
    margin-top: 1rem;
  }
}
#schedule #schedule-labels {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 2.4fr 1.8fr 1.8fr;
  align-items: center;
}
#schedule #schedule-labels p {
  margin: 0;
  color: #307c9c;
  font-weight: 700;
}
#schedule #sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#schedule #sections .section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 12px;
}
#schedule #sections .section:first-child {
  margin-top: 0;
}
#schedule #sections .section .section-label,
#schedule #sections .section .section-events {
  background: #dbf4fc;
  border-radius: 10px;
  box-sizing: border-box;
}
#schedule #sections .section .section-label {
  margin-right: 12px;
  padding: 0 18px;
  width: calc(10% - 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#schedule #sections .section .section-events {
  width: 90%;
}
#schedule #sections .section .section-events .event {
  position: relative;
  cursor: pointer;
}
#schedule #sections .section .section-events .event::before {
  content: '';
  position: absolute;
  left: 18px;
  top: 0;
  height: 1px;
  width: calc(100% - 36px);
  background: #307c9c;
}
#schedule #sections .section .section-events .event:first-child::before {
  display: none;
}
#schedule #sections .section .section-events .event:hover {
  opacity: 0.7;
}
#schedule #sections .section .section-events .event .event-host > p,
#schedule #sections .section .section-events .event .event-location > p,
#schedule #sections .section .section-events .event p.event-location,
#schedule #sections .section .section-events .event a {
  display: inline-block;
  margin: 0;
  margin: 8px 0;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}
#schedule #sections .section .section-events .event .event-location > p,
#schedule #sections .section .section-events .event p.event-location,
#schedule #sections .section .section-events .event a {
  color: #ffffff;
  background: #307c9c;
  text-decoration: none;
}
#schedule #sections .section .section-events .event .desktop {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2.4fr 1.8fr 1.8fr;
  align-items: center;
}
#schedule #sections .section .section-events .event .desktop > :first-child {
  padding-left: 18px;
}
#schedule #sections .section .section-events .event .desktop > :last-child {
  padding-right: 18px;
}
#schedule #sections .section .section-events .event .desktop .event-title,
#schedule #sections .section .section-events .event .desktop .event-type {
  padding-right: 18px;
}
#schedule #sections .section .section-events .event .desktop .event-host > p {
  width: 140px;
  background: #c7e9f4;
}
#schedule #sections .section .section-events .event .desktop .event-location > * {
  width: 100%;
}
#schedule #sections .section .section-events .event .mobile {
  min-height: 65px;
  display: none;
  box-sizing: border-box;
  padding: 10px 18px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#schedule #sections .section .section-events .event .mobile .event-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding-right: 10px;
}
#schedule #sections .section .section-events .event .mobile .event-titles p {
  margin: 0;
}
#schedule #sections .section .section-events .event .mobile .event-titles p:first-child {
  font-size: 17px;
  font-weight: 600;
}
#schedule #sections .section .section-events .event .mobile .event-titles p:last-child {
  font-size: 14px;
  font-weight: 400;
}
#schedule #sections .section .section-events .event .mobile .event-location {
  padding: 8px;
}
@media screen and (max-width: 900px) {
  #schedule #schedule-labels {
    display: none;
  }
  #schedule #sections > .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  #schedule #sections > .section .section-label {
    width: unset;
    background: transparent;
    padding: 0;
    margin-right: 0;
    text-align: left;
    display: block;
    margin-bottom: 6px;
  }
  #schedule #sections > .section .section-events {
    width: 100%;
  }
  #schedule #sections > .section .section-events .event .desktop {
    display: none;
  }
  #schedule #sections > .section .section-events .event .mobile {
    display: flex;
  }
}

#open-event-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
#open-event-container > div {
  width: 500px;
  max-width: 94%;
  box-sizing: border-box;
  padding: 18px;
  border-radius: 10px;
  background: #ffffff;
}
#open-event-container > div :last-child {
  margin-bottom: 0;
}
#open-event-container > div #open-event-time {
  margin-top: -1rem;
}
#open-event-container > div #open-event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
#open-event-container > div #open-event-header h1 {
  margin: 0;
  flex: 1;
  padding-right: 20px;
}
#open-event-container > div #open-event-header i {
  cursor: pointer;
  flex: 0;
}
#open-event-container > div h2 {
  margin-top: 0;
}
#open-event-container > div #open-event-host {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  background: #c7e9f4;
}

#prizes {
  background: #dbf4fc;
  margin-top: 3rem;
  border-radius: 10px;
}
#prizes > div {
  padding: 24px 36px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#prizes > div#prize-header span {
  font-weight: bold;
  font-size: 18px;
}
#prizes > div:nth-child(2n) {
  background: #edfaff;
}
#prizes > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#prizes > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#prizes > div .mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#prizes > div .mobile span:first-child {
  font-size: 18px;
  font-weight: 600;
}
#prizes > div .desktop,
#prizes > div .mobile {
  margin-right: 20px;
}
#prizes > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#prizes > div > div:hover {
  opacity: 0.8;
}
#prizes > div > div:active {
  opacity: 0.7;
}
#prizes > div > div:first-child span {
  background: #ffffff;
}
#prizes > div > div:first-child span,
#prizes > div > div a {
  padding: 8px 30px;
  text-align: center;
}
#prizes > div > div span,
#prizes > div > div a {
  font-size: 17px;
  word-wrap: break-word;
}
#prizes > div > div a {
  display: inline-block;
  margin: 0;
  color: #ffffff;
  background: #307c9c;
  text-decoration: none;
}
@media screen and (max-width: 1350px) {
  #prizes > div {
    padding: 16px 32px;
  }
  #prizes > div#prize-header span,
  #prizes > div div span,
  #prizes > div div a {
    font-size: 15px;
  }
  #prizes > div div:first-child > span,
  #prizes > div div a {
    padding: 8px 22px;
  }
}
@media screen and (max-width: 900px) {
  #prizes > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #prizes > div#prize-header,
  #prizes > div .desktop {
    display: none;
  }
  #prizes > div:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #prizes > div .mobile {
    display: flex;
  }
  #prizes > div div a {
    line-height: 24px;
  }
}

.sponsor-packs {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.sponsor-packs .sponsor-pack {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-decoration: none;
  cursor: pointer;
}
.sponsor-packs .sponsor-pack:hover {
  transform: scale(1.05);
}
.sponsor-packs .sponsor-pack .pack-image {
  width: 100%;
  max-height: 40%;
  height: auto;
  object-fit: contain;
}
.sponsor-packs .sponsor-pack h2 {
  margin-bottom: 0;
}
@media only screen and (max-width: 1200px) {
  .sponsor-packs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .sponsor-packs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.6rem;
  }
  .sponsor-packs h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .sponsor-packs .pack-image {
    width: 80%;
  }
  .sponsor-packs h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 450px) {
  .sponsor-packs {
    padding: 1rem;
  }
  .sponsor-packs h2 {
    font-size: 0.9rem;
  }
}

.resource-section {
  margin-top: 3rem;
}

#faq {
  background: #dbf4fc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 3rem;
}
#faq > div {
  margin-top: 2rem;
}
#faq > div:first-child {
  margin-top: 0;
}
#faq > div h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#faq > div p {
  word-break: break-word;
}
#faq > div .question {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}
#faq > div .question i {
  flex-shrink: 0;
  font-size: 30px;
  margin-left: -8px;
}
#faq > div .question p {
  font-weight: bold;
  font-size: 20px;
  flex: 1;
  margin: 0;
  margin-left: 2px;
}
#faq > div .answer > p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
#faq > div:last-child > .answer > p {
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 86vw;
  height: 20vh;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  header {
    height: 10vh;
  }
}
header #logo {
  cursor: pointer;
  width: 180px;
  margin-right: 10px;
}
@media only screen and (max-width: 900px) {
  header #logo {
    display: none;
  }
}
header .icon {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  display: none;
}
@media only screen and (max-width: 900px) {
  header .icon {
    display: block;
  }
}
header #topnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header #topnav a {
  position: relative;
  cursor: pointer;
  color: #1f4d61;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  margin-right: 2.4rem;
}
header #topnav a:hover::after,
header #topnav a.active::after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: -6px;
  display: block;
  width: 70%;
  height: 6px;
  border-radius: 7px;
  background: #307c9c;
}
header #topnav a:last-of-type {
  margin-right: 0;
}
header #topnav a.action {
  padding: 15px 42px;
  background: #307c9c;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}
header #topnav a.action:hover {
  text-decoration: none;
  opacity: 0.7;
}
header #topnav a.action:hover::after {
  display: none;
}
@media only screen and (max-width: 900px) {
  header #topnav button,
  header #topnav a {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  header #topnav.responsive-open {
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    padding: 1rem;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff;
    border-radius: 0.2rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  header #topnav.responsive-open a {
    display: inline-block;
    color: #307c9c;
    font-style: normal;
    margin-bottom: 0.5rem;
  }
  header #topnav.responsive-open a:hover::after,
  header #topnav.responsive-open a.active::after {
    bottom: -3px;
  }
  header #topnav.responsive-open a:last-of-type {
    margin-bottom: 0;
  }
  header #topnav.responsive-open a.action {
    color: #ffffff;
    padding: 10px 28px;
  }
}

#maps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
#maps h1 {
  text-align: center;
  margin-top: 6rem;
}
#maps h1:first-child {
  margin-top: 0;
}
#maps img {
  flex: 1;
  max-width: 100%;
  min-height: 300px;
  max-height: 90vh;
  object-fit: contain;
}

* {
  font-family: Mulish;
  color: #307c9c;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #c7e9f4;
}

#content {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}
#content > h1:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 600px) {
  #content {
    width: 90%;
  }
}

.loader {
  border: 4px solid #dbf4fc;
  border-top: 4px solid #307c9c;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loader-spin 1.4s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer #footer-links > * {
  margin-right: 2rem;
}
footer #footer-links > *:last-child {
  margin-right: 0;
}
footer #footer-links img {
  width: 2rem;
}
footer #footer-tagline {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.banner {
  background-color: #307c9c;
  padding: 8px 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner p {
  color: white;
  margin: 0;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.banner a {
  color: white;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */

body {
  background: red;
}
